<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src='js/vue.min.js'></script>
</head>
<body>
	<div id="app">
	<input type="text" v-model='a'>
	<input type="text" v-model='b'>
	<input type="text" v-model='c'>
	<button @click='dothis'>点击下去</button>
	</div>
</body>
<script type="text/javascript">
		var app =new Vue({
			el:'#app',
			data:{
				b:'156',
				a:'',
				c:''
			},
			methods:{
				dothis(){
					this.a=this.b;
					this.c=this.b;
				}
			}
		})
		// 也不是v-model的问题 可能是因为获取动态数据的问题么？

</script>
</html>