<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>vue-demo4</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div id="app" class='container'>
			<nav>
		
				<ul >
					<li v-cloak v-for='(index,number) in list' v-on:click='getIndex(number,index)'>{{number}} 前面是 {{index}}</li>
				<!--1.0版本的vue 索引是放到前面的  如上所示 ，而且1.0版本的vue中v-for里面是没有第三个参数的！-->
				</ul>
				<ul v-for='person in news'>
					<li>姓名：{{person.name}}</li>
					<li>年龄：{{person.age}}</li>
				</ul>
			
			</nav>
			<nav>
				<ul class='pagination pagination-lg'>
					<template v-for='page in pages'>
						<li v-if='page==1' class='disabled'><a href="#">上一页</a></li>
						<li v-if='page==2' class='active'><a href="#">{{page}}</a></li>
						<li v-else><a href="#">{{page}}</a></li>
						<li v-if='page==10'><a href="#">下一页</a></li>
					</template>
				</ul>
			</nav>
			<div class="json">
				<ul>
					<li v-for='(key,value) in values'>
						{{$index}}:{{key}}:{{value}}
					</li>
				</ul>
				
				
			</div>
			
			
			
		</div>
		
		
		
		
		
			
	</body>
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/vue.js"></script>
	<script>
 	new Vue({
        el: '#app',
        data: {
            list: ["a","b","c","d","e","f"],
            news:[{name:'小明',age:20},{name:'小刚',age:19},{'name':'小红',age:16}],
            pages:[1,2,3,4,5,6,7,8,9,10],
            values:{
            	name:'黄致鹏',
            	age:'20',
            	school:'高中'
            }
        },
      
    });
    
    
    
    
    //v-for指令
	</script>

</html>