<div>
    i'm login.html
    please login 2222
    <div>
        <label>
            username:
            <input type="text" ng-model='username'>
        </label>
        <label>
            password:
            <input type="text" ng-model='password'>
        </label>
        <p>
            <button ng-click='logintoIndex()'>登陆323</button>
        </p>
    </div>
    <div>
        <h3>
            provider value
        </h3>
        <div ng-bind='itemId'></div>
        <div>{{itemId}}</div>
    </div>
    <div>
        <h3>
            Provider factroy
        </h3>
        <div>{{clientId}}</div>
    </div>
    <div>
        <h3>
            Provider service
        </h3>
        <div>{{serverModule}}</div>
    </div>
    <div>
        <h3>
            Provider constant
        </h3>
        <div>{{constant}}</div>
    </div>
    <div>
        <h3>
            Provider provider
        </h3>
        <div>{{title}}</div>
    </div>
</div>